aws_region = "us-east-1"
project_name = "capstoneproject"
vpc_cidr = "10.0.0.0/16"
public_subnets = ["10.0.0.0/24","10.0.1.0/24"]
private_subnets = ["10.0.10.0/24","10.0.11.0/24"]
web_min = 2
web_max = 3
web_instance_type = "t3.micro"
db_master_password = "ChangeMe123!" # override securely
